
@{
    ViewBag.Title = "Index";
}

<div class="window">
    <div class="basket">
        @Html.Partial("Basket")
    </div>

    <div class="control-panel">
        @Html.Partial("ControlPanel")
    </div>
</div>
