
@{
    ViewBag.Title = "Products";
}

<div class="input-group" style="width: 100%;">
    <input type="text" class="form-control full-line" placeholder="Ieškoti...">
</div>

<div class="products-list-div">
    <table class="products-table">
        <thead>
            <tr>
                <th style="width: 250px;">Prekė</th>
                <th style="width: 50px;">Kiekis</th>
                <th style="width: 100%;">Vieneto kaina</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Išorinis diskas SAMSUNG M3 500GB 2.5" USB3</td>
                <td>4</td>
                <td>52,39</td>
            </tr>
        </tbody>
    </table>
</div>

<table class="products-buttons-table">
    <tr>
        <td colspan="3">
            <button type="button" class="btn btn-primary btn-3x1">Pridėti į krepšelį</button>
        </td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-default btn-3x1">Nauja prekė</button></td>
        <td><button type="button" class="btn btn-default btn-3x1">Redaguoti</button></td>
        <td><button type="button" class="btn btn-default btn-3x1">Pašalinti</button></td>
    </tr>
</table>

